node_modules/
.expo/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/main.jsbundle
assets/icon.png
assets/splash-icon.png
assets/favicon.png
